[submodule "dependencies/rabbitmq-c"]
	path = dependencies/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/variant"]
	path = dependencies/variant
	url = https://github.com/mpark/variant.git
