[submodule "dependencies/rabbitmq-c"]
	path = dependencies/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/benchmark"]
	path = dependencies/benchmark
	url = https://github.com/google/benchmark
